/* Color */

/* 
FOOTER/HEADER: #2c3e4f
FOOTER-TOP: #39546d
SECTION-GREEN: #18957b

CARD
1 #ba4a63
2 #1d9bac
3 #130e0e
4 #1a7ebc
5 #0f37b4
6 #c1a99b

*/


/* *************************/
/* GENERIC */
/* *************************/




.hr-white {
    background-color: white;
    height: 3px;
    width: calc(100px + 1.5vw);
    margin: .1rem;
}

.hr-black {
    background-color: black;
}

section {
    margin-bottom: 30px;

}

/* *************************/
/* UTILITIES */
/* *************************/

.h-100 {
    height: 100%;
}

/* *************************/
/* HEADER */
/* *************************/

header {
    height: 100px;
    background-color: #2c3e4f
}


/* *************************/
/* Main */
/* *************************/


/* STARTBOOSTRAP */

#start-boostrap {
    background-color: #18957b;
    max-height: 100%;
}

/* PORTOFOLIO */

#portofolio {
    max-height: 100%;
}

/* ABOUT */

#about {
    background-color: #18957b;
    max-height: 100%;
}


/* CONTACT */

#contact {

    max-height: 100%;
}

/* FIX BUTTON BOOTSTRAP */
.bg-green {
    background-color: #18957b;
    border-radius: 7px;

}





/* *************************/
/* Footer */
/* *************************/


/* FOOTER-TOP */

#footer-top {
    background-color: #39546d;
    max-height: 100%;
    margin-bottom: 0;
}

/* FOOTER- BOTTOM */

#footer-bottom {
    background-color: #2c3e4f;
    height: 100px;
    margin: 0;
}

.text-green {
    color:
        #18957b;


}

.icon-radius {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 18px;
    margin-left: 1rem;
}