/* Color */

/* 
FOOTER/HEADER: #2c3e4f
FOOTER-TOP: #39546d
SECTION-GREEN: #18957b

CARD
1 #ba4a63
2 #1d9bac
3 #130e0e
4 #1a7ebc
5 #0f37b4
6 #c1a99b

*/


/* *************************/
/* GENERIC */
/* *************************/

.container {
    background-color: aqua;
    height: 800px;

}

.row {
    border: 2px dashed yellow;
}

.row>[class^='col'] {
    min-height: 100px;
    background-color: blanchedalmond;
    border: 1px gray solid;
}

.row .row>[class^='col'] {
    background-color: orange;

}



/* *************************/
/* HEADER */
/* *************************/

header {
    height: 100px;
    background-color: #2c3e4f
}


/* *************************/
/* Main */
/* *************************/


/* STARTBOOSTRAP */

#start-boostrap {
    background-color: #18957b;
    height: 500px;
}

/* PORTOFOLIO */

#portofolio {
    background-color: #0df5c6;
    height: 500px;
}

/* ABOUT */

#about {
    background-color: #18957b;
    height: 500px;
}


/* CONTACT */

#contact {
    background-color: #0df5c6;
    height: 500px;
}




/* *************************/
/* Footer */
/* *************************/


/* FOOTER-TOP */

#footer-top {
    background-color: #39546d;
    height: 300px;
}

/* FOOTER- BOTTOM */

#footer-bottom {
    background-color: #2c3e4f;
    height: 100px;
}