/* Color */

/* 
FOOTER/HEADER: #2c3e4f
FOOTER-TOP: #39546d
SECTION-GREEN: #18957b

CARD
1 #ba4a63
2 #1d9bac
3 #130e0e
4 #1a7ebc
5 #0f37b4
6 #c1a99b

*/


/* *************************/
/* GENERIC */
/* *************************/



.row {
    border: 2px dashed yellow;
}

.row>[class^='col'] {
    min-height: 100px;
    background-color: blanchedalmond;
    border: 1px gray solid;
}

.row .row>[class^='col'] {
    background-color: orange;

}

/* *************************/
/* UTILITIES */
/* *************************/

.h-100 {
    height: 100%;
}

/* *************************/
/* HEADER */
/* *************************/

header {
    height: 100px;
    background-color: #2c3e4f
}


/* *************************/
/* Main */
/* *************************/


/* STARTBOOSTRAP */

#start-boostrap {
    background-color: #18957b;
    height: 500px;
}

/* PORTOFOLIO */

#portofolio {
    background-color: #0df5c6;
    max-height: 100%;
}

/* ABOUT */

#about {
    background-color: #18957b;
    height: 500px;
}


/* CONTACT */

#contact {
    background-color: #0df5c6;
    max-height: 100%;
}




/* *************************/
/* Footer */
/* *************************/


/* FOOTER-TOP */

#footer-top {
    background-color: #39546d;
    max-height: 100%;
}

/* FOOTER- BOTTOM */

#footer-bottom {
    background-color: #2c3e4f;
    height: 100px;
}



/* DA TOGLIERE */

figure {
    height: 100px;
    width: 100px;
    background-color: black;
}